<div class="main">
    <div class="main-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Color</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr app-table-row (deleteRowEmit)="deleteTableRow(i)" [formControl]="control" *ngFor="let control of controls;let i = index">
                </tr>
            </tbody>
        </table>
    </div>
</div>